{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToWork</title>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'Main/css/styles.css' %}">
</head>

<body>

    <div class="app-layout" id="appLayout">
        <div class="container" id="mainContainer">
            <h1>Tareas</h1>

            <form class="input-group" id="todoForm">
                <input type="text" id="taskTitle" placeholder="¿Qué necesitas hacer?" required>
                <input type="date" id="taskDate" required>
                <textarea id="taskDesc" placeholder="Descripción de la tarea (Opcional)"></textarea>
                <button type="submit" class="add-btn">Agregar Tarea</button>
            </form>

            <ul class="todo-list" id="todoList">
                <!-- Tareas generadas con JS -->
            </ul>
        </div>

        <div class="detail-container" id="detailContainer">
            <div class="detail-header">
                <h2 id="detailTitle">Detalles</h2>
                <button class="btn-icon" onclick="closeDetail()" title="Cerrar detalles"><i class="fa-solid fa-xmark"></i></button>
            </div>
            <div class="detail-content" id="detailContent">
                <!-- Información generada con JS -->
            </div>
        </div>
    </div>

    <script src="{% static 'Main/js/todo.js' %}"></script>
</body>

</html>